@import "mui";

.padding-top {
  padding-top: 10px!important;
}

.padding-bottom {
  padding-bottom: 10px!important;
}

.padding-left {
  padding-left: 10px!important;
}

.padding-right {
  padding-right: 10px!important;
}

.margin-top {
  margin-top: 10px!important;
}

.margin-bottom {
  margin-bottom: 10px!important;
}

.margin-left {
  margin-left: 10px!important;
}

.margin-right {
  margin-right: 10px!important;
}
